@import "./components/header";
@import "./components/main";
@import "./components/projects";

:root {
  --index: calc(1vw + 1vh);
}

$fontsDirectory: "@/assets/fonts";

@mixin fontFace($fontName, $fontSubName) {
  @font-face {
    font-family: $fontSubName;
    font-style: normal;
    font-display: swap;
    src: local($fontName),
      url($fontsDirectory + "/" + $fontName + "/" + $fontSubName + ".ttf")
        format("truetype");
  }
}

@include fontFace("Gilroy", "Gilroy-Regular");
@include fontFace("Gilroy", "Gilroy-Black");
@include fontFace("Gilroy", "Gilroy-Thin");
@include fontFace("Exo", "Exo2-Black");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}

.whatsapp-symbol {
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}
