$fontsDirectory: "@/assets/fonts";

@mixin fontFace($fontName, $fontSubName) {
  @font-face {
    font-family: $fontSubName;
    font-style: normal;
    font-display: swap;
    src: local($fontName),
      url($fontsDirectory + "/" + $fontName + "/" + $fontSubName + ".woff")
        format("woff"),
      url($fontsDirectory + "/" + $fontName + "/" + $fontSubName + ".woff2")
        format("woff2"),
      url($fontsDirectory + "/" + $fontName + "/" + $fontSubName + ".ttf")
        format("truetype");
  }
}

@include fontFace("Gilroy", "Gilroy-Regular");
@include fontFace("Exo", "Exo2-Black");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./components/header";

.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}
