@mixin font-h1-1920 {
  font-family: var(--ff-montserrat-bold);
  font-size: var(--fs-h1-1920);
  text-transform: uppercase;
}

@mixin font-h2 {
  font: var(--font-h2);
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  :root {
    --fs-h2: 32px;
    --lh-h2: 36.48px;
  }
}

@mixin font-h6 {
  font: var(--font-h6);
}

@mixin font-h5 {
  font: var(--font-h5);
}
@media (max-width: 1000px) {
  :root {
    --fs-h5: 18px;
    --lh-h5: 25.2px;
  }
}

@mixin font-h4 {
  font: var(--font-h4);
  text-transform: uppercase;
}

@mixin font-text-1 {
  font: var(--font-text-1);
}

@mixin font-text-2 {
  font: var(--font-text-2-1920);
}

@mixin font-text-3 {
  font: var(--font-text-3);
}

@mixin font-text-4-1920 {
  font: var(--font-text-4-1920);
}

@mixin font-text-4-360 {
  font: var(--font-text-4-360);
}

@mixin font-link-1 {
  font: var(--font-link-1);
}
@media (max-width: 800px) {
  :root {
    --fs-link-1: 14px;
    --lh-link-1: 14px;
  }
}

@mixin font-subscribe {
  font: var(--font-subscribe);
  color: var(--color-red-subscribe);
}
@media (max-width: 800px) {
  :root {
    --fs-subscribe: 13px;
    --lh-subscribe: 15.6px;
  }
}

@mixin font-logo-text {
  font: var(--font-logo-text);
}
@media (max-width: 600px) {
  :root {
    --fs-logo-text: 8.5px;
    --lh-logo-text: 8.5px;
  }
}

@mixin font-h3-menu {
  font: var(--font-h3-menu);
}

@mixin custom-standing {
  display: inline-block;
  padding: 0 8px;
  border-radius: var(--border-radius-custom-standing);
  color: var(--color-white);
}

@mixin icon-arrow-right-hover {
  &:hover {
    .icon-arrow-right-up {
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}

@media (max-width: 360px) {
  :root {
    --page-margin-y: 120px;
  }
}
