@mixin font-h1 {
  font: var(--font-h1);
  text-transform: uppercase;
}
@media (max-width: 360px) {
  :root {
    --fs-h1: 38px;
    --lh-h1: 43.32px;
  }
}

@mixin font-h1-inner {
  font: var(--font-h1-inner);
}
@media (max-width: 360px) {
  :root {
    --fs-h1-inner: 24px;
    --lh-h1-inner: 28.8px;
  }
}

@mixin font-h2 {
  font: var(--font-h2);
  text-transform: uppercase;
}
@media (max-width: 360px) {
  :root {
    --fs-h2: 32px;
    --lh-h2: 36.48px;
  }
}

@mixin font-h3 {
  font: var(--font-h3);
  text-transform: uppercase;
}
@media (max-width: 360px) {
  :root {
    --fs-h3: 24px;
    --lh-h3: 27.36px;
  }
}

@mixin font-h4 {
  font: var(--font-h4);
  text-transform: uppercase;
}
@media (max-width: 360px) {
  :root {
    --fs-h4: 20px;
    --lh-h4: 25.8px;
  }
}

@mixin font-h5 {
  font: var(--font-h5);
}
@media (max-width: 360px) {
  :root {
    --fs-h5: 18px;
    --lh-h5: 25.2px;
  }
}

@mixin font-h6 {
  font: var(--font-h6);
}
@media (max-width: 360px) {
  :root {
    --fs-h6: 15px;
    --lh-h6: 21px;
  }
}

@mixin font-h7 {
  font: var(--font-h7);
}
@media (max-width: 360px) {
  :root {
    --fs-h7: 15px;
    --lh-h7: 21.9px;
  }
}

@mixin font-text-1 {
  font: var(--font-text-1);
}
@media (max-width: 360px) {
  :root {
    --fs-text-1: 17px;
    --lh-text-1: 23.8px;
  }
}

@mixin font-text-2 {
  font: var(--font-text-2);
}
@mixin font-text-2-underline {
  font: var(--font-text-2);
  text-decoration: underline;
}
@mixin font-text-2-bold {
  font: var(--font-text-2-bold);
}
@media (max-width: 360px) {
  :root {
    --fs-text-2: 15px;
    --lh-text-2: 21px;
  }
}

@mixin font-text-3 {
  font: var(--font-text-3);
}
@mixin font-text-3-underline {
  font: var(--font-text-3);
  text-decoration: underline;
}
@media (max-width: 360px) {
  :root {
    --fs-text-3: 13px;
    --lh-text-3: 18.98px;
  }
}

@mixin font-text-4 {
  font: var(--font-text-4);
}
@media (max-width: 360px) {
  :root {
    --fs-text-4: 13px;
    --lh-text-4: 18.33px;
  }
}

@mixin font-text-5 {
  font: var(--font-text-5);
}
@media (max-width: 360px) {
  :root {
    --fs-text-5: 11px;
    --lh-text-5: 12.76px;
  }
}

@mixin font-text-6 {
  font: var(--font-text-6);
}
@media (max-width: 360px) {
  :root {
    --fs-text-6: 11px;
    --lh-text-6: 13.53px;
  }
}

@mixin font-button-1 {
  font: var(--font-button-1);
}
@media (max-width: 360px) {
  :root {
    --fs-link-1: 16px;
    --lh-link-1: 16px;
  }
}

@mixin font-button-2 {
  font: var(--font-button-2);
}
@media (max-width: 360px) {
  :root {
    --fs-link-1: 14px;
    --lh-link-1: 14px;
  }
}

@mixin font-link-1 {
  font: var(--font-link-1);
}

@mixin font-link-2 {
  font: var(--font-link-2);
}

@mixin font-subscribe {
  font: var(--font-subscribe);
  color: var(--color-red-subscribe);
}
@media (max-width: 360px) {
  :root {
    --fs-subscribe: 13px;
    --lh-subscribe: 15.6px;
  }
}

@mixin font-strikethrought {
  font: var(--font-strikethrought);
  color: var(--color-red-strikethrought);
  text-decoration: line-through;
}
@media (max-width: 360px) {
  :root {
    --fs-strikethrought: 15px;
    --lh-strikethrought: 21px;
  }
}

@mixin font-logo-text {
  font: var(--font-logo-text);
}
@media (max-width: 600px) {
  :root {
    --fs-logo-text: 8.5px;
    --lh-logo-text: 8.5px;
  }
}

@mixin custom-standing {
  display: inline-block;
  padding: 0 8px;
  border-radius: var(--border-radius-custom-standing);
  color: var(--color-white);
}

@mixin icon-arrow-right-hover {
  &:hover {
    .icon-arrow-right-up {
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}

@mixin expertise-icon {
  font-size: var(--font-expertise-icon);
  color: var(--color-blue);
}
@mixin expertise-icon-hover {
  &:after {
    color: inherit;
  }
}
@media (max-width: 1000px) {
  :root {
    --font-expertise-icon: 32px;
  }
}

@mixin footer-icon {
  font-size: var(--font-footer-icon);
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

@mixin article-icon {
  font-size: 20px;
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
}

@media (max-width: 360px) {
  :root {
    --unit-margin-y: 120px;
    --heading-margin-bottom: 40px;
    --swiper-padding: 0 16px;
    --border-radius-40: 24px;
    --border-radius-40: 24px;
    --border-radius-40: 24px;
  }
}
