.slide-fade-bottom-enter-active {
  transition: all 0.4s ease-out;
}
.slide-fade-bottom-leave-active {
  transition: all 0.4s cubic-bezier(0, 0, 1, 1);
}
.slide-fade-bottom-enter-from,
.slide-fade-bottom-leave-to {
  transform: translateY(800px);
  opacity: 0;
}
/*  */
.slide-fade-left-enter-active {
  transition: all 0.4s ease-out;
}
.slide-fade-left-leave-active {
  transition: all 0.4s cubic-bezier(0, 0, 1, 1);
}
.slide-fade-left-enter-from,
.slide-fade-left-leave-to {
  transform: translateX(800px);
  opacity: 0;
}
/*  */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
/*  */
.page-enter-active {
  transition: opacity 0.5s cubic-bezier(1, 0.99, 0, -0.01),
    transform 0.3s cubic-bezier(1, 0.99, 0, -0.01);
}
.page-leave-active {
  transition: opacity 0.3s cubic-bezier(1, 0.99, 0, -0.01),
    transform 0.3s cubic-bezier(1, 0.99, 0, -0.01);
}
.page-enter-from,
.page-leave-to {
  transform: translateY(1080px);
  opacity: 0;
}
