:root {
  --index: calc(1vw + 1vh);
  --ff-gilroy-regular: "Gilroy-Regular", Arial, sans-serif;
  --ff-gilroy-medium: "Gilroy-Medium", Arial, sans-serif;
  --ff-gilroy-semi-bold: "Gilroy-SemiBold", Arial, sans-serif;
  --ff-montserrat-semi-bold: "Montserrat-SemiBold", Arial, sans-serif;
  --ff-montserrat-bold: "Montserrat-Bold", Arial, sans-serif;

  --fs-h1-1920: calc(var(--index) * 4.8);
  --fs-h2: 80px;
  --lh-h2: 96px;
  --font-h2: normal 700 var(--fs-h2) / var(--lh-h2) var(--ff-montserrat-bold);
  --fs-h3: 44px;
  --lh-h3: 54.12px;
  --font-h3: normal 700 var(--fs-h3) / var(--lh-h3) var(--ff-montserrat-bold);
  --fs-h3-menu: 24px;
  --lh-h3-menu: 27.36px;
  --font-h3-menu: normal 700 var(--fs-h3-menu) / var(--lh-h3-menu)
    var(--ff-montserrat-bold);
  --fs-h4: 28px;
  --lh-h4: 36.12px;
  --font-h4: normal 700 var(--fs-h4) / var(--lh-h4) var(--ff-montserrat-bold);
  --fs-h5: 24px;
  --lh-h5: 33.6px;
  --font-h5: normal 500 var(--fs-h5) / var(--lh-h5) var(--ff-gilroy-medium);
  --fs-h6: 22px;
  --lh-h6: 32.12px;
  --font-h6: normal 600 var(--fs-h6) / var(--lh-h6) var(--ff-gilroy-semi-bold);
  --fs-text-1: 18px;
  --lh-text-1: 27.54px;
  --font-text-1: normal 500 var(--fs-text-1) / var(--lh-text-1)
    var(--ff-gilroy-medium);
  --fs-text-2: 14px;
  --lh-text-2: 18.2px;
  --font-text-2: normal 500 var(--fs-text-2) / var(--lh-text-2)
    var(--ff-gilroy-regular);
  --fs-text-3: 15px;
  --lh-text-3: 21px;
  --font-text-3: normal 500 var(--fs-text-3) / var(--lh-text-3)
    var(--ff-gilroy-medium);
  --fs-text-4-1920: 16px;
  --lh-text-4-1920: 22.4px;
  --font-text-4-1920: normal 400 var(--fs-text-4-1920) / var(--lh-text-4-1920)
    var(--ff-gilroy-regular);
  --fs-text-4-360: 13px;
  --lh-text-4-360: 18.98px;
  --font-text-4-360: normal 400 var(--fs-text-4-360) / var(--lh-text-4-360)
    var(--ff-gilroy-regular);
  --fs-link-1: 18px;
  --lh-link-1: 18px;
  --font-link-1: normal 500 var(--fs-link-1) / var(--lh-link-1)
    var(--ff-gilroy-medium);
  --fs-subscribe: 16px;
  --lh-subscribe: 19.2px;
  --font-subscribe: normal 400 var(--fs-subscribe) / var(--lh-subscribe)
    var(--ff-gilroy-regular);
  --fs-logo-text: 17px;
  --lh-logo-text: 17px;
  --font-logo-text: normal 500 var(--fs-logo-text) / var(--lh-logo-text)
    var(--ff-gilroy-medium);
  --font-expertise-icon: 45px;
  --font-footer-icon: 20px;

  --color-white: #fff;
  --color-white-transparent: #ffffffcc;
  --color-black: #000;
  --color-black-transparent: #00030905;
  --color-black-subtitle: #000309;
  --color-blue: #075bf7;
  --color-blue-line: #075bf733;
  --color-dark-blue: #5d6d89;
  --color-grey-transparent: #ffffff26;
  --color-grey-light: #eff0f3;
  --color-grey-light-span: #d8dce9;
  --color-grey-light-date: #5d6d89;
  --color-pink: rgba(255, 85, 159, 1);
  --color-red-subscribe: rgba(247, 7, 11, 1);
  --color-purple: rgba(127, 7, 247, 1);
  --color-yellow: rgba(255, 187, 85, 1);
  --color-button-gradient: linear-gradient(
    97.17deg,
    #075bf7 2.87%,
    #7f07f7 49.35%,
    #ff559f 98.08%
  );
  --color-button-gradient-hover: linear-gradient(
    276.39deg,
    #075bf7 0%,
    #7f07f7 48.82%,
    #ff559f 100%
  );

  --shadow-card: rgba(235, 238, 242, 1);

  --unit-margin-y: 220px;
  --heading-margin-bottom: 100px;

  --swiper-padding: 0 120px;

  --container-max-width: 1676px;

  --border-radius-expertise: 40px;
  --border-radius-case: 40px;
  --border-radius-custom-standing: 8px;
}
