:root {
  --index: calc(1vw + 1vh);
  --ff-gilroy-regular: "Gilroy-Regular", Arial, sans-serif;
  --ff-gilroy-medium: "Gilroy-Medium", Arial, sans-serif;
  --ff-gilroy-semi-bold: "Gilroy-SemiBold", Arial, sans-serif;
  --ff-montserrat-bold: "Montserrat-Bold", Arial, sans-serif;
  --ff-montserrat-semi-bold: "Montserrat-SemiBold", Arial, sans-serif;
  --fs-h2-1920: 80px;
  --lh-h2-1920: 96px;
  --fs-h2-360: 32px;
  --lh-h2-360: 36.48px;
  --fs-h6-1920: 22px;
  --lh-h6-1920: 32.12px;
  --fs-text1-1920: 24px;
  --lh-text1-1920: 33.6px;
  --fs-text1-360: 18px;
  --lh-text1-360: 25.2px;
  --fs-text2-1920: 18px;
  --lh-text2-1920: 27.54px;
  --color-white: #fff;
  --color-white-transparent: #ffffffcc;
  --color-black: #000;
  --color-black-transparent: #00030905;
  --color-black-subtitle: #000309;
  --color-blue: #075bf7;
  --color-blue-line: #075bf733;
  --color-grey-transparent: #ffffff26;
  --color-grey-light: #eff0f3;
  --color-grey-light-span: #d8dce9;
  --color-pink: rgba(255, 85, 159, 1);
  --color-purple: rgba(127, 7, 247, 1);
  --color-yellow: rgba(255, 187, 85, 1);
  --color-button-gradient: linear-gradient(
    97.17deg,
    #075bf7 2.87%,
    #7f07f7 49.35%,
    #ff559f 98.08%
  );
  --color-button-gradient-hover: linear-gradient(
    276.39deg,
    #075bf7 0%,
    #7f07f7 48.82%,
    #ff559f 100%
  );
  --shadow-card: rgba(235, 238, 242, 1);
  --page-margin-y: 220px;
  --container-max-width: 1676px;
}
