:root {
  --color-bgmain: #242424;
}

.header {
  background-color: var(--color-bgmain);
  color: #fff;

  img {
    width: 37px;
    height: 40px;
    background: #fff;
    margin: 10px 10px 0 0;
  }

  &__name {
    font-size: 32px;
    font-family: "Exo2-Black", Arial, sans-serif;
    font-weight: 900;
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 48px;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  &__contacts {
    margin-left: auto;
    display: flex;

    a {
      font-family: "Gilroy-Regular", Arial, sans-serif;
      font-weight: 900;
      font-size: 20px;
      margin-right: 35px;
    }
  }

  &__burger {
    background: var(--color-bgmain);
    color: #fff;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }
}
