:root {
  --color-bgmain: #242424;
}

.header {
  background-color: var(--color-bgmain);
  color: #fff;

  img {
    width: 24px;
    height: 24px;
  }

  &__name {
    font-size: 24px;
    font-family: "Gilroy-Regular";
    font-weight: 900;
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 48px;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  &__contacts {
    margin-left: auto;
  }

  &__burger {
    background: var(--color-bgmain);
    color: #fff;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }
}
