:root {
  --color-bgmain: #242424;
}

.header {
  background-color: var(--color-bgmain);
  color: #fff;

  img {
    width: 37px;
    height: 30px;
    background: #fff;
    margin-right: 10px;
  }

  &__name {
    font-size: 32px;
    font-family: "Exo2-Black";
    font-weight: 900;
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 48px;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  &__contacts {
    margin-left: auto;
  }

  &__burger {
    background: var(--color-bgmain);
    color: #fff;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }
}
