@import "./components/header";
@import "./helpers/fonts";
@import "./helpers/variables";
@import "./components/mobile-menu";
@import "./components/footer";
@import "./components/first-page";
@import "./components/custom-sidebar";
@import "./components/main-slider";

$debug: false;

@if ($debug) {
  * {
    border: 1px solid red;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scrollbar-gutter: stable;
}

body {
  font-family: var(--ff-medium);
}

.container {
  max-width: 1676px;
  margin: 0 auto;
  width: 100%;
}

a {
  color: var(--color-white);
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

label {
  user-select: none;
}

@media (max-width: 1696px) {
  .container {
    padding: 0 20px;
  }
}
