@import "./helpers/fonts";
@import "./helpers/variables";
@import "./helpers/transition";
@import "./helpers/fonts-mixin";

@import "./components/slider-cursor";
@import "./components/cookies";
@import "./components/header";
@import "./components/mobile-menu";
@import "./components/first-page";
@import "./components/custom-sidebar";
@import "./components/main-slider";
@import "./components/expertise-unit";
@import "./components/expertise-page";
@import "./components/custom-cursor";
@import "./components/case-page";
@import "./components/case-unit";
@import "./components/case-article";
@import "./components/about-company";
@import "./components/blog-unit";
@import "./components/blog-page";
@import "./components/blog-article";
@import "./components/customers-unit";
@import "./components/title-button";
@import "./components/talk-unit";
@import "./components/talk-page";
@import "./components/policy";
@import "./components/footer";

$debug: false;

@if ($debug) {
  * {
    border: 1px solid #ff0000;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scrollbar-gutter: stable;
}

body {
  font-family: var(--ff-gilroy-medium);
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 20px;
  border: 2px solid var(--color-white);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  width: 100%;
}

.article-container {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  outline: none;
}

ul {
  list-style: none;
}

label {
  user-select: none;
}

.arrow-right-up {
  position: relative;
  top: 5px;
}

@media (max-width: 1692px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 1166px) {
  .article-container {
    padding: 0 16px;
  }
}

[class*="icon-"]:before,
[class*="icon-"]:after {
  display: inline-block;
  font-family: "Glyphter";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slide-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
  border: 1px solid var(--color-grey-light-span);
  border-radius: 20px;
  cursor: pointer;
  background: transparent;
  font-weight: 900;
  text-align: center;
  outline: none;

  &:hover {
    border: 1px solid var(--color-blue);
  }

  &:disabled {
    border: 1px solid transparent;
    cursor: default;
  }
}

.p-button-label {
  display: none;
}

.icon-slide-to-left {
  &:after {
    content: "\0046";
    font-size: 18px;
    color: inherit;
  }
}

.icon-slide-to-right {
  &:after {
    content: "\0045";
    font-size: 18px;
    color: inherit;
  }
}

@media (max-width: 360px) {
  .slide-button {
    padding: 0px 19px;

    &:hover {
      border: 1px solid var(--color-blue);
    }

    &:disabled {
      border: 1px solid transparent;
      cursor: default;
    }
  }

  .p-button-label {
    display: none;
  }

  .icon-slide-to-left {
    &:after {
      content: "\0046";
      font-size: 18px;
      color: inherit;
    }
  }

  .icon-slide-to-right {
    &:after {
      content: "\0045";
      font-size: 18px;
      color: inherit;
    }
  }
}
