@import "./components/header";
@import "./helpers/fonts";
@import "./helpers/variables";
@import "./components/mobile-menu";
@import "./components/footer";
@import "./components/first-page";

$debug: false;

@if ($debug) {
  * {
    border: 1px solid red;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: var(--ff-medium);
  background: #000;
}

.container {
  max-width: 1676px;
  margin: 0 auto;
  width: 100%;
  // box-sizing: content-box;
  padding: 0 20px;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

.main-header {
  width: 100%;
  position: absolute;
}
