.blog-page {
  padding-top: var(--page-padding);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include font-h1;

    margin-bottom: 24px;
  }

  &__subtitle {
    @include font-h5;

    width: 554px;
    text-align: center;
  }

  &__table-list {
    display: grid;
    gap: 40px 8px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 475px) {
    align-items: initial;

    .blog-unit-card__inner {
      width: 328px;
      height: min-content;
    }

    &__title {
      margin: 16px 0 20px 0;
    }

    &__table-list {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }

    &__table-item {
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &__subtitle {
      width: 328px;
    }
  }
}
