.case-article {
  display: flex;
  flex-direction: column;
  padding-top: var(--page-padding);

  &__heading,
  &__content,
  &__chapter,
  &__chapter-content,
  &__plate,
  &__footer {
    display: flex;
    flex-direction: column;
  }

  &__heading,
  &__heading-review,
  &__footer,
  &__tag,
  &__date {
    align-items: center;
    justify-content: center;
  }

  &__heading {
    text-align: center;
  }

  &__heading-review {
    display: flex;
    align-self: center;
    position: relative;
    max-width: 1676px;
    margin-bottom: 120px;
  }

  &__heading-image-review,
  &__heading-image,
  &__chapter-image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-40);
  }

  &__heading-image-review {
    cursor: pointer;
  }

  button.gradient-button {
    display: none;
  }

  &__title {
    @include font-h1-inner;
  }

  &__subtitle {
    @include font-h5;

    margin: 24px 0 40px 0;
  }

  &__content {
    gap: 80px;
    list-style-position: inside;
  }

  &__chapter {
    @include font-h5;

    text-transform: uppercase;
    font-family: var(--ff-montserrat-bold);

    a {
      color: var(--color-blue);
      border-bottom: 1px solid var(--color-blue);
    }
  }

  &__chapter-content {
    @include font-text-2;

    gap: 20px;
    text-transform: initial;
    margin: 40px 0;

    .icon-marker {
      display: flex;
      align-items: center;

      &:before {
        content: "\004E";
        font-size: 12px;
        color: var(--color-blue);
        padding-right: 8px;
      }
    }
  }

  &__split {
    display: flex;
    gap: 8px;
  }

  &__headline {
    @include font-h6;

    margin-top: 20px;
  }

  &__list {
    display: flex;
    gap: 8px;

    :first-child {
      color: var(--color-blue);
    }
  }

  &__plate {
    gap: 16px;
    padding: 20px;
    border-radius: 20px;
    background: #e6effe;
  }

  &__footer {
    gap: 40px;
    margin: 120px 0 var(--unit-margin-y) 0;
    background: var(--color-grey-light);
    padding: 120px 0;
  }

  .chapter-team {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;

    p {
      min-width: 250px;
      display: flex;
      flex-direction: column;
      gap: 4px;

      span {
        @include font-text-4;

        color: var(--color-dark-blue);
      }
    }
  }

  .chapter-wreath {
    margin-right: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .wreath-left {
      position: absolute;
      left: -40px;
      top: -10px;
    }

    .wreath-right {
      position: absolute;
      left: 90px;
      top: -10px;
    }

    div {
      display: flex;
      text-align: center;
      flex-direction: column;
      gap: 4px;

      span {
        @include font-text-4;

        color: var(--color-dark-blue);
      }
    }
  }

  &__line {
    width: 100%;
    background: var(--color-grey-light-span);
    margin-top: 120px;
  }

  &__tags {
    @include font-text-4;

    width: 100%;
    color: var(--color-dark-blue);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    > div {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__tag {
    display: flex;
    border-radius: 16px;
    border: 1px solid var(--color-black);
    color: var(--color-black);
    font-family: var(--ff-gilroy-medium);
    padding: 9px 16px;
  }

  &__date {
    height: 40px;
    display: flex;
  }

  &__social {
    display: flex;
    gap: 4px;

    a {
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      background-color: var(--color-blue);

      &:hover {
        background: var(--color-button-gradient-hover);

        &:hover:after {
          color: #fff;
        }
      }
    }

    .icon-link {
      &:after {
        @include article-icon;

        content: "\0047";
      }
    }

    .icon-vkontakte {
      &:after {
        @include article-icon;

        content: "\004F";
      }
    }

    .icon-telegram {
      &:after {
        @include article-icon;

        content: "\0050";
      }
    }

    .icon-whatsapp {
      &:after {
        @include article-icon;

        content: "\0054";
      }
    }
  }

  .margin-top {
    margin-top: 0px;
  }

  .margin-top-40 {
    margin-top: 40px;
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .margin-bottom-40 {
    margin-bottom: 40px;
  }

  .margin-left-24 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 24px;
  }

  @media (max-width: 360px) {
    overflow-x: hidden;

    button.gradient-button {
      display: block;

      margin-bottom: 40px;
    }

    &__title {
      @include font-text-2;
    }

    &__subtitle {
      font-size: 17px;
      line-height: 23.8px;
      margin: 16px 0 40px 0;
    }

    &__heading-review {
      margin-bottom: 60px;
    }

    &__heading-image-review {
      object-fit: cover;
      width: 360px;
      height: 360px;
      border-radius: 0;
    }

    &__heading-image {
      width: 328px;
      height: 219px;
      margin-top: 20px;
      object-fit: cover;
    }

    #large-image {
      width: 328px;
      height: 384px;
      object-fit: cover;
    }

    .margin-bottom-40 {
      margin-bottom: 0;
    }

    .margin-top {
      margin-top: 20px;
    }

    &__content {
      gap: 60px;
    }

    &__chapter-content {
      @include font-text-3;

      margin: 20px 0 0 0;
    }

    &__split {
      margin-top: 20px;
      flex-direction: column;

      img {
        width: 328px;
        height: 411px;
        object-fit: cover;
        border-radius: var(--border-radius-40);
      }
    }

    &__tags {
      flex-direction: column;
      gap: 24px;

      > div {
        gap: 12px;
      }
    }

    &__date {
      justify-content: start;
    }

    &__footer {
      padding: 60px 0;
    }

    .chapter-team {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }

    .chapter-wreath {
      :not(:last-child) {
        margin-bottom: 30px;
      }
    }

    #right {
      left: 70px;
      top: -10px;
    }

    &__line {
      margin-top: 60px;
    }

    &__tag {
      width: fit-content;
    }
  }
}

.case-article-plate {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 23px;
  max-width: max-content;
  background: var(--color-white);
  border-radius: calc(var(--border-radius-40) - 6px);

  &__inner {
    display: flex;
    padding: 12px 16px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-gilroy-regular);
    font-size: 16px;
    gap: 8px;
  }

  &__text {
    @include font-text-4;
    text-align: start;
    width: 200px;
  }

  &__percent {
    @include font-h3;

    color: var(--color-blue);
  }

  &__line {
    width: 2px;
    height: 40px;
    align-self: center;
    margin: 0 16px;
    background-color: var(--color-grey-light-span);
    opacity: 20%;
  }

  @media (max-width: 360px) {
    display: none;
  }
}
