.case-unit {
  margin-bottom: var(--unit-margin-y);

  &__heading {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--heading-margin-bottom);
  }

  &__table-list {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
  }

  &__table-item {
    width: 100%;
  }

  .wide {
    grid-column: span 2;
  }

  @media (max-width: 1750px) {
    &__table-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__table-item {
      width: 836px;
    }

    .wide {
      grid-column: span 1;
    }
  }

  @media (max-width: 875px) {
    &__table-item {
      width: 100%;
    }
  }
}

.case-unit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: var(--color-grey-light);
  border-radius: var(--border-radius-case);
  cursor: pointer;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--border-radius-case);
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }

  .article {
    object-fit: cover;
    width: 100%;
    height: 656px;
  }

  &__case-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: var(--border-radius-case);

    &:hover {
      transform: scale(1.1);
    }
  }

  &__case-heading {
    @include font-h6;

    margin: 32px;
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    word-break: break-word;
    text-overflow: ellipsis;
    flex-wrap: wrap;
  }

  @media (max-width: 1750px) {
    &__case-image {
      object-fit: cover;
      width: 100%;
      height: 658px;
    }

    .right {
      align-items: center;
    }
  }

  @media (max-width: 875px) {
    &__case-image {
      height: 100%;
    }

    &__case-image {
      &:hover {
        transform: inherit;
      }
    }
  }

  @media (max-width: 600px) {
    &__case-heading {
      line-height: 19.6px;
      font-size: 20px;
      width: 400px;
      margin: 20px;
      font-family: var(--ff-montserrat-semi-bold);
    }
  }

  @media (max-width: 500px) {
    &__case-heading {
      font-size: 16px;
      width: 300px;
    }
  }

  @media (max-width: 360px) {
    &__case-image {
      height: 320px;
    }

    &__case-heading {
      @include font-text-3;

      font-family: var(--ff-montserrat-semi-bold);
      width: 300px;
      margin: 16px;
    }

    .article {
      object-fit: cover;
      width: 100%;
      height: 320px;
    }
  }

  @media (max-width: 350px) {
    &__case-heading {
      width: 200px;
      font-size: 12px;
      padding: 5px;
      line-height: normal;
    }
  }
}

.case-unit-plate {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
  left: 8px;
  background: var(--color-white);
  border-radius: calc(var(--border-radius-case) - 6px);
  padding: 12px 16px;

  &__inner {
    display: flex;
  }

  &__box {
    display: flex;
    font-family: var(--ff-gilroy-regular);
    font-size: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__text {
    @include font-text-4-1920;

    width: 246px;
  }

  &__percent {
    @include font-h6;
  }

  &__line {
    width: 2px;
    height: 40px;
    align-self: center;
    margin: 0 16px;
    background-color: var(--color-grey-light-span);
    opacity: 20%;
  }

  @media (max-width: 875px) {
    width: calc(100% - 16px);
    position: static;
    margin: 8px 0;

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__line {
      height: 2px;
      width: 40px;
      margin: 9px 0;
    }

    &__box {
      flex-direction: column;
    }

    &__text {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    &__text {
      @include font-text-4-360;
    }

    &__percent {
      @include font-text-3;

      font-family: var(--ff-montserrat-semi-bold);
    }
  }

  @media (max-width: 360px) {
    width: calc(100% - 8px);
    position: static;
    margin: 4px 0;
  }
}

.position {
  width: 818px;
  bottom: 8px;
  right: 8px;
  left: inherit;
}

@media (max-width: 1750px) {
  .position {
    right: 8px;
    left: 8px;
  }
}

@media (max-width: 875px) {
  .position {
    width: calc(100% - 16px);
    margin: 8px 0;
    right: 8px;
    left: 8px;
  }
}

@media (max-width: 360px) {
  .position {
    width: calc(100% - 8px);
    margin: 4px 0;
    right: 4px;
    left: 4px;
  }
}
