.case-page {
  padding-top: var(--page-padding);

  .case-unit {
    margin-bottom: 0;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include font-h1-1920;

    margin-bottom: 24px;
  }

  &__subtitle {
    @include font-h5;

    width: 554px;
    text-align: center;

    .custom-standing-pink {
      @include custom-standing;

      background: var(--color-pink);
      transform: rotate(-1.61deg);
    }
  }

  &__table-list {
    display: grid;
    gap: 40px 8px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 360px) {
    &__title {
      margin: 16px 0 20px 0;
    }

    &__table-list {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }

    &__subtitle {
      @include font-text-4-360;

      width: 328px;
    }
  }
}
