.cookies {
  max-width: 654px;
  height: 172px;
  border-radius: 24px;
  padding: 16px;
  position: fixed;
  bottom: 80px;
  right: 80px;
  background: #fff;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: box-shadow 0.4s ease-in-out;

  &:hover {
    box-shadow: 1px 6px 30px 0px var(--color-dark-blue);
  }

  &__content {
    @include font-text-2;

    color: var(--color-black);
  }

  span {
    display: flex;
    gap: 8px;

    #gradient-button-control {
      color: #fff;
      background: var(--color-blue);
      padding: 9px 16px;
      border-radius: 12px;

      .icon-arrow-right-up {
        display: none;
      }

      &:hover {
        background: var(--color-button-gradient);
      }
    }

    a {
      @include font-button-2;

      color: var(--color-black);
      background: var(--color-grey-light);
      padding: 9px 16px;
      border-radius: 12px;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out;

      &:hover {
        color: #fff;
        background: var(--color-blue);
      }
    }
  }

  @media (max-width: 1300px) {
    bottom: 40px;
    right: 40px;
  }

  @media (max-width: 696px) {
    width: inherit;
    height: max-content;
    left: 16px;
    bottom: 16px;
    right: 16px;
  }
}
