.sidebar-mask {
  backdrop-filter: blur(0px);
  animation: blur-in 0.4s ease forwards;
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(10px);
  }
}

.sidebar-custom {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 40px 0 0 40px;
  position: fixed;

  .sidebar-close-icon {
    width: 24px;
    height: 24px;
  }

  .sidebar-close-button {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
  }

  .sidebar-header {
    display: flex;
    padding: 62px 62px 40px 62px;
    gap: 20px;

    .sidebar-heading {
      display: flex;
      flex-direction: column;
      line-height: 27.54px;
      font-size: 18px;

      &__headline {
        text-transform: uppercase;
        font-family: var(--ff-montserrat-bold);
        font-size: 28px;
        margin-bottom: 16px;
      }
    }
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;

    form {
      height: 100%;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .sidebar-input {
      display: flex;
      flex-direction: column;
      font-family: "Gilroy-Regular";
      padding: 0 62px;
      gap: 20px;
      flex: 1;
      overflow-y: scroll;

      &__file {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
      }

      &__field {
        height: 62px;
        background-color: var(--color-grey-light);
        border: none;
        border-radius: 16px;
        outline: none;
        padding: 20px;
        font-size: 18px;
        resize: none;
      }

      &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    .sidebar-footer {
      padding: 40px 62px 62px 62px;
      display: flex;
      align-items: center;
      gap: 20px;

      &__privacy {
        display: flex;
        flex-direction: column;
        font-family: "Gilroy-Regular";
      }

      &__privacy-link {
        width: fit-content;
        text-decoration: underline;
        font-style: initial;
        color: var(--color-blue-link);
      }
    }
  }
}
