.expertise-page {
  margin-bottom: var(--page-margin-y);

  &__heading {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: var(--heading-margin-bottom);
  }

  &__heading-subtitle {
    @include font-h5;

    margin-left: auto;
    width: 569px;
    user-select: none;
    color: var(--color-black-subtitle);

    .custom-standing-pink {
      @include custom-standing;

      background: var(--color-pink);
      transform: rotate(-2.39deg);
    }

    .custom-standing-purple {
      @include custom-standing;

      background: var(--color-purple);
      transform: rotate(0.91deg);
    }

    .custom-standing-yellow {
      @include custom-standing;

      background: var(--color-yellow);
      transform: rotate(-2.39deg);
    }
  }

  &__table {
    height: 688px;
    border-radius: var(--border-radius-expertise);
    box-shadow: 0 0 50px 5px var(--shadow-card);
    background-color: rgba(235, 238, 242, 0.5);
  }

  &__table-list {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;

    .tall {
      grid-row: span 2;
      height: 100%;
    }
  }

  &__table-item {
    background: var(--color-white);
    border-radius: var(--border-radius-expertise);
    height: 340px;

    &:hover {
      background-color: var(--color-blue);
    }
  }

  @media (max-width: 1300px) {
    &__heading {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__heading-subtitle {
      margin-left: 0;
    }
  }

  @media (max-width: 1000px) {
    &__table {
      height: fit-content;
    }

    &__table-list {
      grid-template-columns: 1fr;
      grid-template-rows: auto-fit;
    }

    &__table-item {
      height: 210px;
    }

    &__heading-subtitle {
      width: 328px;
    }

    .tall {
      grid-row: span 1;
      height: 210px;
    }
  }

  @media (max-width: 400px) {
    &__heading-subtitle {
      width: 100%;
    }
  }
}

.expertise-card {
  &__inner {
    display: flex;
    flex-direction: column;
    padding: 32px;
    height: 100%;
    color: var(--color-black);

    .icon-development {
      &:after {
        @include expertise-icon;

        content: "\0057";
      }
    }

    .icon-crm {
      &:after {
        @include expertise-icon;

        content: "\0058";
      }
    }

    .icon-marketplace {
      &:after {
        @include expertise-icon;

        content: "\005A";
      }
    }

    .icon-mobile {
      &:after {
        @include expertise-icon;

        content: "\004D";
      }
    }

    .icon-marketing {
      &:after {
        @include expertise-icon;

        content: "\0065";
      }
    }

    .icon-outstaff {
      &:after {
        @include expertise-icon;

        content: "\0067";
      }
    }

    &:hover {
      color: var(--color-white);

      .icon-development {
        @include expertise-icon-hover;
      }

      .icon-crm {
        @include expertise-icon-hover;
      }

      .icon-marketplace {
        @include expertise-icon-hover;
      }

      .icon-mobile {
        @include expertise-icon-hover;
      }

      .icon-marketing {
        @include expertise-icon-hover;
      }

      .icon-outstaff {
        @include expertise-icon-hover;
      }

      .expertise-card__subhead {
        display: block;
      }
    }
  }

  &__heading {
    @include font-h6;

    margin-top: auto;
  }

  &__subhead {
    @include font-text-4-1920;

    display: none;
    margin-top: 8px;
  }

  @media (max-width: 1000px) {
    &__heading {
      @include font-text-3;
    }

    &__subhead {
      @include font-text-4-360;

      display: block;
    }

    &__inner {
      padding: 16px;
    }
  }
}
