.expertise-unit {
  margin-bottom: var(--unit-margin-y);

  &__heading {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: var(--heading-margin-bottom);
  }

  &__heading-subtitle {
    @include font-h5;

    width: 569px;
    margin-left: auto;
    color: var(--color-black);
  }

  &__table {
    width: 100%;
    height: max-content;
    border-radius: var(--border-radius-40);
    box-shadow: 0 0 50px 5px var(--shadow-card);
    background-color: rgba(235, 238, 242, 0.5);
  }

  &__table-list {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
  }

  &__table-item {
    background: #fff;
    border-radius: var(--border-radius-40);
    height: 262px;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: var(--color-blue);
    }
  }

  @media (max-width: 1300px) {
    &__heading {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__heading-subtitle {
      margin-left: 0;
    }
  }

  @media (max-width: 1000px) {
    &__table {
      height: fit-content;
    }

    &__table-list {
      grid-template-columns: 1fr;
      grid-template-rows: auto-fit;
    }

    &__table-item {
      height: 210px;
    }
  }

  @media (max-width: 900px) {
    &__heading-subtitle {
      width: 495px;
    }
  }

  @media (max-width: 527px) {
    &__heading-subtitle {
      width: 100%;
    }
  }

  @media (max-width: 475px) {
    &__heading-subtitle {
      width: 100%;
    }

    &__table-item {
      @include list-items-animation;
    }
  }
}

.expertise-card {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--padding-card);
    height: 100%;
    color: var(--color-black);
    overflow-y: hidden;
    transition: color 0.3s ease-in-out;

    .icon-development,
    .icon-crm,
    .icon-marketing,
    .icon-marketplace,
    .icon-mobile,
    .icon-outstaff,
    .icon-promotion,
    .icon-advertisemen,
    .icon-smm,
    .icon-seo,
    .icon-advertisement,
    .icon-cup,
    .icon-heart-empty,
    .icon-star,
    .icon-b2b,
    .icon-cybersecurity {
      &:after {
        @include expertise-icon;
      }
    }

    .icon-development {
      &:after {
        content: "\0057";
      }
    }

    .icon-crm {
      &:after {
        content: "\0058";
      }
    }

    .icon-marketing {
      &:after {
        content: "\0063";
      }
    }

    .icon-marketplace {
      &:after {
        content: "\005A";
      }
    }

    .icon-mobile {
      &:after {
        content: "\006A";
      }
    }

    .icon-outstaff {
      &:after {
        content: "\0065";
      }
    }

    .icon-promotion {
      &:after {
        content: "\0068";
      }
    }

    .icon-advertisement {
      &:after {
        content: "\0061";
      }
    }

    .icon-smm {
      &:after {
        content: "\0059";
      }
    }

    .icon-seo {
      &:after {
        content: "\0064";
      }
    }

    .icon-cup {
      &:after {
        content: "\0062";
      }
    }

    .icon-heart-empty {
      &:after {
        content: "\0055";
      }
    }

    .icon-star {
      &:after {
        content: "\0032";
      }
    }

    .icon-b2b {
      &:after {
        content: "\0033";
      }
    }

    .icon-cybersecurity {
      &:after {
        content: "\0034";
      }
    }

    &:hover {
      color: #fff;

      .icon-development,
      .icon-crm,
      .icon-marketing,
      .icon-marketplace,
      .icon-mobile,
      .icon-outstaff,
      .icon-promotion,
      .icon-advertisemen,
      .icon-smm,
      .icon-seo,
      .icon-advertisement,
      .icon-cup,
      .icon-heart-empty,
      .icon-star,
      .icon-b2b,
      .icon-cybersecurity {
        @include expertise-icon-hover;
      }

      .expertise-card__subhead {
        transform: translateY(0);
        opacity: 1;
      }

      .expertise-card__wrapper {
        transform: translateY(0);
      }
    }
  }

  &__wrapper {
    transform: translateY(calc(100% + -25px));
    transition: transform 0.3s ease-in-out;
  }

  &__heading {
    @include font-h6;

    display: flex;
    align-items: end;
    flex-grow: 1;
  }

  &__subhead {
    @include font-text-4;

    margin-top: 8px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  }

  @media (max-width: 1114px) {
    &__wrapper {
      transform: translateY(calc(100% + -57.11px));
      transition: transform 0.3s ease-in-out;
    }
  }

  @media (max-width: 1000px) {
    .expertise-card__subhead {
      transform: translateY(0);
      opacity: 1;
    }

    .expertise-card__wrapper {
      transform: translateY(0);
    }
  }
}
