.first-page {
  min-height: 100dvh;
  width: 100%;
  background-image: url("public/images/first-page-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;

  &__heading {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 100px 0 80px 0;
    gap: 60px;
    user-select: none;
  }

  &__heading-caption {
    @include font-h1;
  }

  &__heading-paragraph {
    @include font-h5;

    max-width: 554px;
  }

  &__mobile-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: rgba($color: #fff, $alpha: 0.3);
    backdrop-filter: blur(20px);
    font-family: var(--ff-gilroy-semi-bold);
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    outline: none;
    border: none;
    margin: 20px auto;
    transform: rotate(-20deg);
  }

  @media (max-width: 1200px) {
    justify-content: start;

    &__heading {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 230px;
      gap: 20px;
    }
  }

  @media (max-height: 600px) {
    justify-content: center;

    &__heading {
      margin-top: 100px;
    }
  }

  @media (max-width: 360px) {
    &__mobile-button {
      display: block;
    }
  }
}
