.footer {
  background-image: url("images/main-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  width: 100%;
  color: var(--color-white);
  font-size: 20px;
  display: flex;

  .container {
    display: flex;
    flex-direction: column;
  }

  &__services-caption {
    font-style: normal;
    margin-bottom: 40px;
  }

  &__services-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    li {
      padding: 3px 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 28px;
  }

  &__references {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
  }

  &__social {
    display: flex;
    gap: 4px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 40px;
      border-radius: 12px;
      background-color: var(--color-grey-transparent);
    }
  }

  &__presentation {
    margin-top: 59px;
    text-align: center;
  }

  &__logo-footer {
    margin: 149px 0 49px 0;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    font-family: var(--ff-regular);
    font-size: 14px;
    align-items: center;
    margin-top: auto;
    p {
      user-select: none;
    }
  }

  &__copyright-links {
    display: flex;
    gap: 20px;
  }

  &__copyright-insignia {
    user-select: none;
    font-family: var(--ff-semi-bold);
    font-size: 11px;
    ul {
      flex-direction: row;
      display: flex;
      gap: 26.89px;
      li {
        display: flex;
        p {
          margin-left: 7.11px;
        }
        span {
          display: block;
        }
      }
    }
  }

  @media (max-width: 1300px) {
    &__references {
      flex-direction: column;
      align-items: center;
    }

    &__services {
      ul {
        display: none;
      }
    }

    &__blog {
      ul {
        display: none;
      }
    }

    &__nav {
      ul {
        display: none;
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      ul {
        gap: 13px;
      }
    }

    &__social {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__copyright {
      flex-direction: column;
      gap: 18px;
    }
  }

  @media (max-width: 900px) {
    &__copyright-insignia ul {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 380px) {
    &__presentation {
      a {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
