.main-menu {
  &__inner {
    display: flex;
    overflow-x: scroll;
    margin: 220px 0 220px 120px;
    gap: 16px;
  }
}

.main-menu-card {
  &__inner {
    position: relative;

    img {
      border-radius: 20px;
    }

    p {
      color: var(--color-white);
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 100px;
      border: 1px solid black;

      /* Новые свойства */
      word-break: break-word; /* Разбивает длинные слова */
      overflow: hidden; /* Скрывает текст, выходящий за границы */
      text-overflow: ellipsis; /* Показывает многоточие, если текст не помещается */
      flex-wrap: wrap; /* Переносит текст на следующую строку */
    }
  }
}
