.main-slider {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    margin: var(--page-margin-y) 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .swiper {
    padding: 0 120px 0 120px;
  }

  @media (max-width: 360px) {
    .swiper {
      padding: 0 16px 0 16px;
    }
  }
}

.main-slider-card {
  width: 266px;
  height: 266px;
  position: relative;

  &__story-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  &__story-heading {
    @include font-text-2;

    font-family: var(--ff-gilroy-semi-bold);
    color: var(--color-white);
    width: 234px;
    position: absolute;
    margin: 16px;
    bottom: 0;
    left: 0;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;
  }

  @media (max-width: 360px) {
    width: 140px;
    height: 140px;

    &__story-heading {
      width: 123px;
      font-size: 11px;
      margin: 8px;
      line-height: 12.76px;
    }
  }
}
