.contact-page {
  padding-top: var(--page-padding);

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include font-h1;

    margin-bottom: 100px;
  }

  &__addres {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      @include font-text-2;

      font-style: normal;
      color: var(--color-black);
    }
  }

  &__tags {
    @include font-text-4;

    color: var(--color-dark-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--unit-margin-y);

    > div {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__date {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social {
    display: flex;
    gap: 4px;

    a {
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      background-color: var(--color-blue);

      &:hover {
        background: var(--color-button-gradient-hover);

        &:hover:after {
          color: #fff;
        }
      }
    }

    .icon-vkontakte {
      &:after {
        content: "\004F";
        @include talk-icon;
      }
    }

    .icon-telegram {
      &:after {
        content: "\0050";
        @include talk-icon;
      }
    }

    .icon-vcru {
      &:after {
        content: "\0052";
        @include talk-icon;
      }
    }

    .icon-behance {
      &:after {
        content: "\0051";
        @include talk-icon;
      }
    }

    .icon-dprofile {
      &:after {
        content: "\0053";
        @include talk-icon;
      }
    }
  }

  @media (max-width: 360px) {
    &__title {
      margin-bottom: 40px;
    }

    &__tags {
      display: flex;
      flex-direction: column;
      gap: 24px;

      > div {
        gap: 12px;
      }
    }
  }
}
