.contact-page {
  padding-top: var(--page-padding);

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include font-h1-1920;

    margin-bottom: 100px;
  }

  &__addres {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      @include font-text-1;

      font-style: normal;
      color: var(--color-black-subtitle);
    }
  }

  &__tags {
    @include font-text-4-1920;

    color: var(--color-dark-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--unit-margin-y);

    > div {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__date {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social {
    display: flex;
    gap: 4px;

    a {
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      background-color: var(--color-blue);
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: var(--color-white);

        &:hover:after {
          color: var(--color-blue);
        }
      }
    }

    .icon-vkontakte {
      &:after {
        content: "\004F";
        font-size: 20px;
        color: var(--color-white);
        transition: color 0.2s ease-in-out;
      }
    }

    .icon-telegram {
      &:after {
        content: "\0050";
        font-size: 20px;
        color: var(--color-white);
        transition: color 0.2s ease-in-out;
      }
    }

    .icon-vcru {
      &:after {
        content: "\0052";
        font-size: 20px;
        color: var(--color-white);
        transition: color 0.2s ease-in-out;
      }
    }

    .icon-behance {
      &:after {
        content: "\0051";
        font-size: 20px;
        color: var(--color-white);
        transition: color 0.2s ease-in-out;
      }
    }

    .icon-dprofile {
      &:after {
        content: "\0053";
        font-size: 20px;
        color: var(--color-white);
        transition: color 0.2s ease-in-out;
      }
    }
  }

  @media (max-width: 360px) {
    &__tags {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}
